@model BloomBox.Models.Placanje

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Placanje</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.narudzbaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.narudzbaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.transakcijskiId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.transakcijskiId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.placanjeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
