@model IEnumerable<BloomBox.Models.ProizvodParametri>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.parametarId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.proizvodId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.parametarId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.proizvodId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.proParametriId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.proParametriId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.proParametriId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
